.Home_image {
  width: 100%;
  margin-top: 50px;
}

.MoreInfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 50px 40px;
  gap: 50px;
}

.MoreInfoAside {
  text-align: end;
}

.MoreInfoAside_field-title {
  color: var(--blue);
}

.MoreInfoAside_field-desc {
  color: var(--blue);
}

.MoreInfoAside_field-desc--thin {
  color: var(--blue-light);
}

@media screen and (min-width: 0) {
  .MoreInfo {
    flex-direction: column;
  }
  #map {
    height: 400px;
    width: 100%;
  }

  .MoreInfo {
    margin: 50px 20px;
  }

  .MoreInfoAside {
    width: 100%;
    text-align: end;
  }
}

@media screen and (min-width: 992px) {
  .MoreInfo {
    flex-direction: row;
  }
  #map {
    height: 500px;
    width: 60%;
  }

  .MoreInfoAside {
    width: 40%;
  }
}

@media screen and (min-width: 1280px) {
    #map {
      height: 600px;
      width: 70%;
    }
  
    .MoreInfoAside {
      width: 30%;
    }
  }
  
